@model IEnumerable<WellnessPeople.Models.Evento>

@{
    ViewData["Title"] = "Administración de Eventos";
    Layout = "~/Views/Shared/_Layout_Backend.cshtml";
}

<h2>@ViewData["Title"]</h2>
<hr />

<p class="float-right">
    <img src="~/images/iconoatras_Pink.png" onclick="javascript:location.href='~/PanelAdmin/Index'" style="Eventor: pointer;" />
</p>

<p class="float-left">
    <a asp-action="CrearEvento" class="btn btn-primary">Agregar Evento</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechahora_inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechahora_fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre_TipoEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_creacion)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.creado_por)
        </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechahora_inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechahora_fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_TipoEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_creacion)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.creado_por)
        </td>*@
            <td>
                @Html.ActionLink("Editar", "CrearEvento", new { id = item.Id, nombre = item.nombre, descripcion = item.descripcion, fechahora_inicia = item.fechahora_inicio, fechahora_fin = item.fechahora_fin, fecha_creacion = item.fecha_creacion, nombre_TipoEvento = item.nombre_TipoEvento }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Eliminar", "EliminarEvento", new { id = item.Id }, new { @class = "btn btn-danger", onclick = "return confirm('¿Está seguro/a de eliminar el Tipo de Evento?')" })
            </td>
        </tr>
        }
    </tbody>
</table>
