@model IEnumerable<WellnessPeople.Models.Pais>

@{
    ViewData["Title"] = "Administración de Paises";
    Layout = "~/Views/Shared/_Layout_Backend.cshtml";
}

<br />
<h2>@ViewData["Title"]</h2>
<hr />

<p class="float-right">
    <img src="~/images/iconoatras_Pink.png" onclick="javascript:location.href='~/PanelAdmin/Index'" style="cursor: pointer;" />
</p>

<p class="float-left">
    <a asp-action="CrearPais" class="btn btn-primary">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre_pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bandera_pais)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bandera_pais)
                &nbsp;&nbsp;<img src=" @Html.DisplayFor(modelItem => item.bandera_pais)" />
            </td>
            <td>
                @Html.ActionLink("Editar", "CrearPais", new { id = item.Id, nombre_pais = item.nombre_pais, bandera_pais = item.bandera_pais }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Eliminar", "EliminarPais", new { id = item.Id }, new { @class = "btn btn-danger", onclick = "return confirm('¿Está seguro/a de eliminar el Pais?')" })
            </td>
        </tr>
        }
    </tbody>
</table>
