@model IEnumerable<WellnessPeople.Models.Contacto>

@{
    ViewData["Title"] = "Administración de Contactos";
    Layout = "~/Views/Shared/_Layout_Backend.cshtml";
}

<br />
<h2>@ViewData["Title"]</h2>
<hr />

<p class="float-right">
    <img src="~/images/iconoatras_Pink.png" onclick="javascript:location.href='/PanelAdmin/Index'" style="Cursor: pointer;" />
</p>

<p class="float-left">
    <a asp-action="CrearContacto" class="btn btn-primary">Agregar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre_contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion_fisica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre_sede)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion_fisica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_sede)
            </td>
            <td>
                @Html.ActionLink("Editar", "CrearContacto", new { id = item.Id, nombre_contacto = item.nombre_contacto, direccion_fisica = item.direccion_fisica, telefono = item.telefono, email = item.email, latitud = item.Latitud, longitud = item.Longitud, nombre_sede = item.nombre_sede }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Eliminar", "EliminarContacto", new { id = item.Id }, new { @class = "btn btn-danger", onclick = "return confirm('¿Está seguro/a de eliminar el Tipo de Contacto?')" })
            </td>
        </tr>
        }
    </tbody>
</table>
